<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A+Students Abacus Maths</title>
    <!-- Link to your CSS files goes here -->
    <link rel="stylesheet" href="/dist/output-styles.css">
    <!--Google fonts used -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
  </head>


  <body class="bg-grey-400">
    <header class="sticky top-0 z-50 bg-blue-500">
      <nav class="container mx-auto px-4 py-3 md:flex md:justify-between md:items-center ">
        <div class="flex items-center justify-between">
          <a href="index.html"><img src="img/aplusstudents.png" alt="logo" class="h-10"></a>
          <button type="button" class="block md:hidden text-gray-500 hover:text-white focus:text-white focus:outline-none"
            aria-label="Toggle menu" id="mobile-menu-btn">
            <svg class="h-6 w-6 fill-current text-white" viewBox="0 0 24 24">
              <path class="block" v-if="!open" fill-rule="evenodd" d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z" />
              <path class="hidden" v-if="open" fill-rule="evenodd" d="M6.343 5.757a1 1 0 0 1 1.414 0L12 9.586l4.243-4.243a1 1 0 0 1 1.414 1.414L13.414 12l4.243 4.243a1 1 0 1 1-1.414 1.414L12 13.414l-4.243 4.243a1 1 0 1 1-1.414-1.414L10.586 12 6.343 7.757a1 1 0 0 1 0-1.414z" />
            </svg>
          </button>
        </div>

        <div class="hidden md:hidden transition duration-900 ease-out" id="mobile-menu">
          <ul class="md:flex md:justify-center md:items-center md:flex-col md:space-y-4 font-poppins">
            <li><a href="index.html" class="block text-center text-lg text-yellow-400 font-medium font-poppins hover:text-gray-200 py-4 transition ease-out duration-500">Home</a></li>
            <li><a href="#facility" class="block text-center text-lg text-white text-pink-600 font-medium hover:text-gray-200 py-4">About</a></li>
            <li><a href="#contact" class="block text-center text-lg text-white text-green-500 font-medium hover:text-gray-200 py-4">Contact</a></li>
            <button type="button" class="block md:hidden text-gray-500 hover:text-white focus:text-white focus:outline-none"
              aria-label="Close menu" id="mobile-menu-close-btn">
              
            </button>
          </div>
          <!-- Repeat -->
          <div class="hidden md:block">
            <ul class="md:flex items-center space-x-8 font-poppins">
              <li><a href="index.html" class="text-white text-yellow-400 hover:text-gray-200">Home</a></li>
              <li><a href="#facility" class="text-white text-pink-600 hover:text-gray-200">About</a></li>
              <li><a href="#contact" class="text-white text-green-500 hover:text-gray-200">Contact</a></li>
            </ul>
          </div>
        </nav>
        
<div class="flex">
          <div class="w-full h-[7px] bg-[#e84e9c] "></div>
          <div class="w-full h-[7px] bg-[#fbaf43]"></div>
          <div class="w-full h-[7px] bg-[#2e3192]"></div>
          <div class="w-full h-[7px] bg-[#b92f93]"></div>
          <div class="w-full h-[7px] bg-[#f48242]"></div>
          <div class="w-full h-[7px] bg-[#36b34a]"></div>
        </div>



      </header>

    
<!--Section welcome-->
<section class="py-20 bg-repeat bg-center bg-cover bg-gradient-to-b from-blue-500 to-purple-500 p-4 bg-opacity-20" style="background-image: url('./img/page-header-bg2.jpg')"> 
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center">
              <h2 class="text-4xl font-bold tracking-tight text-black sm:text-5xl md:text-6xl font-Bubblegum"><span class="text-red-500">Welcome</span> to A+Students Abacus Maths</h2>
              <p class="mt-3 max-w-md mx-auto text-lg text-black-300 font-poppins sm:text-xl md:mt-5 md:max-w-3xl">We're thrilled to have you here. Whether you're a student, parent, or teacher, we believe that our innovative and effective abacus-based math program can help you achieve your goals. Please take a few moments to explore our website and learn more about our approach, our team, and our success stories. We're confident that you'll find something here that inspires you, and we look forward to helping you excel in mathematics!"</p>
              <div class="mt-5 sm:mt-8 sm:flex justify-center">
                <div class="rounded-md shadow">
                  <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">
                    Get Started
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
<!--Section welcome end-->


       <!--3-4 Section Start-->
       <section class="text-gray-600" style="background-image: url('./img/BG-blue.jpg')">
        <div class="container mx-auto px-5 py-24">
          <div class="lg:w-4/5 mx-auto flex flex-wrap items-center">
            <div class="lg:w-1/2 w-full mb-10 lg:mb-0 text-center lg:text-left">
              <h1 class="title-font sm:text-4xl text-5xl mb-4  text-gray-900">Fun Learning with Abacus for 3-4 Year olds
                <br class="hidden lg:inline-block">
              </h1>
              <p class="leading-relaxed mb-8 text-black">Our video showcases how our 3-4 year old students have fun while learning our abacus course. They learn to count and visualize numbers using our abacus, all while having a great time in our engaging and supportive classroom environment.</p>
            </div>
            <div class="lg:w-1/2 w-full">
              <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mx-auto">
                <div class="relative h-0" style="padding-bottom: 75%">
                  <iframe class="absolute w-full h-full" src="https://www.youtube.com/embed/dDKwisVVwv8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<!--3-4 Section end-->


<!--5-6  Section Start-->
<section class="text-gray-600 body-font" style="background-image: url('/img//partner-bg.jpg')">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0 lg:pr-24 md:pr-16">
      <div class="relative h-0" style="padding-bottom: 75%">
        <iframe class="absolute w-full h-full" src="https://www.youtube.com/embed/dDKwisVVwv8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Abacus Reading and Visualization for 5-6 Year Olds
        <br class="hidden lg:inline-block">
      </h1>
      <p class="mb-8 leading-relaxed">Our video features a lesson with our 5-6 year old students as they learn how to read the abacus on flash cards and have fun with our teacher. The video also includes a short snippet of kids learning how to use visual spatial techniques in a fun way to mentally visualize numbers. Our abacus course encourages active participation and imaginative thinking for all our students.</p>
      <div class="flex justify-center lg:justify-start">
        <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
        <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Button</button>
      </div>
    </div>
  </div>
</section>

<!--5-6  Section End-->


 <!--7-9 Section Start-->
 <section class="text-gray-600" style="background-image: url('./img/BG-Green.jpg')">
  <div class="container mx-auto px-5 py-24">
    <div class="lg:w-4/5 mx-auto flex flex-wrap items-center">
      <div class="lg:w-1/2 w-full mb-10 lg:mb-0 text-center lg:text-left">
        <h1 class="title-font sm:text-4xl text-3xl mb-4  text-gray-900">Large Number Abacus Display for School Students
          <br class="hidden lg:inline-block">
        </h1>
        <p class="leading-relaxed mb-8 text-black">Our video captures a lesson at a local school where our teacher is teaching students the abacus and how large numbers can be displayed on the abacus using a 20-sided dice to randomize the 1000 category of numbers. The video demonstrates how the abacus can help students learn complex mathematical concepts in a fun and engaging way. Our course is designed to empower students to take control of their learning and develop critical thinking skills.</p>
      </div>
      <div class="lg:w-1/2 w-full">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mx-auto">
          <div class="relative h-0" style="padding-bottom: 75%">
            <iframe class="absolute w-full h-full" src="https://www.youtube.com/embed/dDKwisVVwv8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--7-8 Section end-->

<!--About us start-->
        <section id="about" class="bg-orange-400 py-20" style="background-image: url('./img/BG-Orange.png')">
          <div class="container mx-auto px-4">
            <div class="flex flex-wrap justify-center">
              <div class="w-full md:w-6/12 px-4">
                <div class="md:pr-12">
                  <h3 class="text-4xl font-semibold">About A+Students </h3>
                  <p class="mt-4 text-lg leading-relaxed">
                    A+Students is a leading franchise in the education sector that offers abacus and mental arithmetic training, combined with school mathematics and a range of A+Play Maths products and games. Our structured courses cater to students from 36 months and continue well into teenage years, ensuring lasting knowledge and training imparted on the student. Our founder, Marlene Mouton, is a former mathematics and science teacher who started A+Students to help struggling math students. We are the only institution that offers abacus (Soroban) education combined with school mathematics and A+Play Maths, and we offer profitable franchise opportunities with a high return on investment. Contact us to learn more about our courses and franchise opportunities.
                  </p>
                  <div class="mt-8">
                    <a href="#" class="uppercase text-sm font-bold leading-relaxed inline-block py-3 px-5 rounded-lg bg-primary text-white shadow-md transition duration-500 ease-in-out hover:bg-primary-dark transform hover:-translate-y-1 hover:scale-110">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
              <div class="w-full md:w-6/12 px-4">
                <div class="relative flex flex-col min-w-0 break-words bg-orange-200 w-full mb-6 shadow-lg rounded-lg mt-20">
                  <div class="flex-auto p-5 lg:p-10 bg-orange-600">
                    <img src="./img/about/about-3.png" alt="about image" class="mx-auto w-full rounded-lg shadow-lg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
<!--About us end-->

  <!--highlight Cards-->      
<section id="about" class="facility py-20" style="background-image: url('./img/BG-Prup.png')">
  <div class="text-center pb-10 text-4xl font-bold tracking-tight text-white sm:text-5xl md:text-6xl font-Bubblegum"><h1>Check out our other services</h1></div>
  <div class="container mx-auto pr-4 pl-4 pt-4 mb-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 pr-4 pl-4">
      <!--Card 1-->
      <div class="flex justify-center">
        <div class="rounded-lg shadow-lg bg-white max-w-sm transition ease-in-out delay-150 hover:bg-gradient-to-r from-cyan-500 to-blue-500">
          <a href="http://aplusstudents.co.za/ContactUs">
            <img class="rounded-t-lg object-fill h-50" src="http://www.aplusstudents.co.za/Resource/Content/239f7020-3e69-4eb8-8971-4a2b3272a8df" alt="" height="100"/>
          </a>
          <div class="p-6">
            <h5 class="text-black-900 text-xl font-medium mb-2 ">Enquire Today</h5>
            <p class="text-black-700 text-base mb-4 ">
              A+Students Abacus Maths classes nationwide. Afrikaans and English students are welcome. Kids from 3-15 years.
            </p>

            <!--1st Button Card 1-->
            <form action="pages/information_english.html">
              <button type="submit"  class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" >Information Brochure</button>
            </form>

            <!--Button 2 card 1-->
            <form action="http://aplusstudents.co.za/Index?id=3c5747d8-df05-4aa5-926d-aabdb5d656e2">
            <a href="http://aplusstudents.co.za/Index?id=74090eb1-84de-490c-88cf-2f794d99a448" class=" inline-block px-6 py-2.5 mt-[2%] bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">About Us</a>
            </form>
            
            
            

          </div>

          <!--start here-->
        <div class="flex flex-1 flex-col bg-white-200 content-center"> 
          
                 <div class="lg:mt-[75px] sm:mt-[74px]">  
            
                    <img class="rounded-t-lg object-fill h-50 " src="http://www.aplusstudents.co.za/Resource/Content/34a7beed-d417-45d9-88c0-86d4e24ace38" alt="" height="100"/>
              

                      <div> 
                        <audio controls controlsList="nodownload" class="ml-auto mr-auto">
                          <source src="ChimeLogo.mp3" type="audio/ogg" />
                          <source src="http://www.aplusstudents.co.za/Resource/Content/89297149-776c-4f1a-838d-ea0501a01223" type="audio/mpeg">
                            Your browser does not support the audio element.
                             </audio>  
                              
                      </div>
                </div>
        </div>
          

        </div>
      </div>
      <!--Card 1 End-->

      <!--Card 2 Start-->
      <div class="flex justify-center">
        <div class="rounded-lg shadow-lg bg-white max-w-sm hover:bg-gradient-to-r from-cyan-400 to-blue-500">
          <a href="https://www.aplusacademy.co.za/">
            <img class="rounded-t-lg" src="http://www.aplusstudents.co.za/Resource/Content/3fb253c3-7bb5-49a1-97b2-c126d241bf95" alt=""/>
          </a>
          <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">A+Academy</h5>
            <p class="text-gray-700 text-base mb-4">
              A+Academies with a  Christian  foundation following CAIE curriculum. Afrikaans and English students welcome. (GR RR- grade 12(AS))
            </p>

            <!--Button 1 card 2-->
            <form action="https://www.aplusacademy.co.za/book-a-visit552a009d">
            <button type="submit" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Book a visit</button>
            </form>
            <!--Button 2 card 2-->
            <form action="https://www.aplusacademy.co.za/">
              <button type="submit"  class=" inline-block px-6 py-2.5 mt-[2%] bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" >Academy Home</button>
            </form>

      
          </div>

          <div class="lg:mt-[48px] sm:mt-auto xl:mt-[48px] md:mt-[72px]">
            
            <div>
              <img class="rounded-t-lg object-fill h-50 " src="http://www.aplusstudents.co.za/Resource/Content/34a7beed-d417-45d9-88c0-86d4e24ace38" alt="" height="100"/>
            </div>
  
            <div> 
                          <audio controls controlsList="nodownload" class="ml-auto mr-auto">
                            <source src="ChimeLogo.mp3" type="audio/ogg" />
                            <source src="http://aplusstudents.co.za/Resource/Content/10e34b59-5638-45b9-b1a3-f3faa2e81863" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>  
            </div>
              
          </div>

        </div>
      </div>
      <!--Card 2 End-->
      <!--Card 3 Start-->
      <div class="flex justify-center">
        <div class="rounded-lg shadow-lg bg-white max-w-sm hover:bg-gradient-to-r from-cyan-400 to-blue-500">
          <a href="http://aplusstudents.co.za/Index?id=3c5747d8-df05-4aa5-926d-aabdb5d656e2">
            <img class="rounded-t-lg" src="http://www.aplusstudents.co.za/Resource/Content/925027df-ce6e-43e6-afad-0d51a9c438b7" alt=""/>
          </a>
          <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">Franchising</h5>
            <p class="text-gray-700 text-base mb-4">
              Dynamic Franchising models from full ownership to entry level Franchising opportunities.
            </p>

            <!--Button 1 card 3-->
            <form action="http://aplusstudents.co.za/Index?id=3c5747d8-df05-4aa5-926d-aabdb5d656e2">
            <a href="http://aplusstudents.co.za/Index?id=3c5747d8-df05-4aa5-926d-aabdb5d656e2" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Brochure</a>
            </form>

            <!--Button 2 card 3-->
            <form action="http://aplusstudents.co.za/Index?id=3c5747d8-df05-4aa5-926d-aabdb5d656e2">
              <a href="http://aplusstudents.co.za/Index?id=74090eb1-84de-490c-88cf-2f794d99a448" class=" inline-block px-6 py-2.5 mt-[2%] bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">About Us</a>
              </form>
          </div>

          
          <div class="flex flex-1 flex-col justify-center bg-white-200  ml-auto mr-auto lg:mt-[71px] sm:mt-[73px] xl:mt-[72px]">
            <div>
              <img class="rounded-t-lg object-fill h-50 " src="http://www.aplusstudents.co.za/Resource/Content/34a7beed-d417-45d9-88c0-86d4e24ace38" alt="" height="100"/>
            </div>
                          <audio controls controlsList="nodownload" class="ml-auto mr-auto">
                            <source src="ChimeLogo.mp3" type="audio/ogg" />
                            <source src="http://aplusstudents.co.za/Resource/Content/4a0c4981-ebc5-4861-b5ce-ff81a7c70e3c" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio> 
          </div>
        </div>
      </div>
      <!--Card 3 End-->
      
      <!--Card 4 Start-->
      <div class="flex justify-center">
        <div class="rounded-lg shadow-lg bg-white max-w-sm hover:bg-gradient-to-r from-cyan-400 to-blue-500">
          <a href="http://www.aplusstudents.co.za/Index?id=dd5b9134-b2d0-4bf5-951b-b9d0847c8e14">
            <img class="rounded-t-lg" src="http://www.aplusstudents.co.za/Resource/Content/7465c323-b34e-4ebb-9920-b05c0716314b" alt=""/>
          </a>
          <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">Become a Teacher</h5>
            <p class="text-gray-700 text-base mb-4">
              Want a change of pace? We have positions available for aspiring teachers.
            </p>

            <!--Button 1 Card 4-->
            <form action="http://www.aplusstudents.co.za/Index?id=dd5b9134-b2d0-4bf5-951b-b9d0847c8e14">
            <a  href="http://www.aplusstudents.co.za/Index?id=3c5747d8-df05-4aa5-926d-aabdb5d656e2" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Apply</a>
           </form>
           <!-- Button 2 Card 4-->
           <form action="http://aplusstudents.co.za/Index?id=3c5747d8-df05-4aa5-926d-aabdb5d656e2">
            <a href="http://aplusstudents.co.za/Index?id=74090eb1-84de-490c-88cf-2f794d99a448" class=" inline-block px-6 py-2.5 mt-[2%] bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">About Us</a>
            </form>
          </div>

               <div class="lg:mt-[93px] sm:mt-auto md:mt-[97px]"> 
                 <div>
                   <img class="rounded-t-lg object-fill h-50 " src="http://www.aplusstudents.co.za/Resource/Content/34a7beed-d417-45d9-88c0-86d4e24ace38" alt="" height="100"/>
                    </div>
  
                    <div> 
                          <audio controls controlsList="nodownload" class="ml-auto mr-auto">
                            <source src="ChimeLogo.mp3" type="audio/ogg"/>
                            <source src="http://aplusstudents.co.za/Resource/Content/4a0c4981-ebc5-4861-b5ce-ff81a7c70e3c" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>  
            </div>
              </div>
          


        </div>
      </div>
    <!--Card 4 End-->



    </div>
  </div>
</section><!-- Highlight Cards end -->


        
<!--footer start-->
<div class="flex">
  <div class="w-full h-[7px] bg-[#e84e9c] "></div>
  <div class="w-full h-[7px] bg-[#fbaf43]"></div>
  <div class="w-full h-[7px] bg-[#2e3192]"></div>
  <div class="w-full h-[7px] bg-[#b92f93]"></div>
  <div class="w-full h-[7px] bg-[#f48242]"></div>
  <div class="w-full h-[7px] bg-[#36b34a]"></div>
</div>
<footer class="bg-blue-500 text-gray-100 py-4">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-between items-center">
      <p class="text-sm">&copy; 2023 A+Students. All Rights Reserved.</p>
      <nav class="text-sm">
        <a href="/" class="text-gray-100 hover:text-gray-400 px-3">Home</a>
        <a href="/about" class="text-gray-100 hover:text-gray-400 px-3">About</a>
        <a href="/contact" class="text-gray-100 hover:text-gray-400 px-3">Contact</a>
      </nav>
    </div>
  </div>
</footer>

<!--footer end-->
       

      

    <!-- scripting tag -->
    <script src="/js/main.js"></script>
  </body>
</html>